/* Regole Generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

[class*=col-] {
  min-height: 50px;
}

/* Regole Header */

.header_nav {
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: white;
  width: 100%;
}

#logo  {
  height: 35px;
  width: auto;
  margin-top: 5px;
  margin-right: 60px;
}

.navbar-default {
  border: none;
  background-color: transparent;
  padding-top: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: blue;
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  color: #031B4E;
}

#sign-up:hover, #submit_login:hover {
  background-color: #005EFF;
  color: white;
}


#sign-up {
  color: blue;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 5px;
  transition: 0.3s;
}

@media all and (min-width:768px) and (max-width: 1200px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-nav {
    display: none;
  }
  .navbar-header {
    width: 100%;
  }
}

/* SEZIONE JUMBOTRON */

.header_jumbo {
  background-image: url("../img/jumbo.svg");
  margin-top: 70px;
  background-size: cover;
  padding-top: 40px;
}

/* SEZIONE TESTO */
.header_jumbo h1 {
  color: white;
  font-size: 55px;
}

.header_jumbo p {
  color: white;
  font-size: 22px;
}

/* SEZIONE LOGIN */

.tabella-login {
  padding: 25px 0;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 40px;
}

.header_jumbo .log_in{
  width: 90%;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
}

.tabella-login> a {
  font-size: 27px;
  color: #015FFF;
}


#submit_login {
  width: 90%;
  background-color: #3385ff;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 8px 0;
  margin-bottom: 10px;
  transition: 0.3s;
}

#signing-google {
  width: 90%;
  background-color: transparent;
  border: 1px solid lightgrey;
  padding: 6px 0;
  border-radius: 5px;
  color: grey;
  transition: 0.3s;
  margin-bottom: 10px;
  position: relative;
}

#signing-google:hover {
  background-color: lightgrey;
}

#google-icon {
  width: auto;
  height: 20px;
  position: absolute;
  left: 5px;
}

/* Regole main */
/* SEZIONE ICONE BUSINESS */
.icon-section , .design , .teams{
  background-color: #F3F5F9;
  text-align: center;
}

.icon-section h5{
  color: grey;
  padding: 30px 0;
}

.icon-list li {
  display: inline-block;
  padding: 0 5px;
  width: calc(100% / 7)
}

.icon-list img {
  width: 100%;
  vertical-align: middle;
}

@media all and (max-width:767px) {
  .icon-list li {
    width: calc(100% / 3);
  }
}

#view {
  padding: 40px 0;
}

/* SEZIONE DEPLY AND SCALE */

.deploy {
  margin: 40px 0 ;
}

.deploy h2, .deploy h5, .design h2 , .design h5, .features h2, .get_started ,.service-customers h2{
  text-align: center;
}

.deploy h5 ,.design h5{
  font-size: 18px;
  padding-bottom: 25px;
}

.deploy h5, .design h5, .deploy p , .features p{
  color: grey;
}

.deploy-list li {
  list-style: none;
  border-left: 1px solid lightgrey;
  padding: 10px 5px;
}

.deploy-list a {
  font-size: 16px;
}

.deploy p {
  padding-bottom: 20px;
}
/* SEZIONE DESIGN FOR DEVELOPERS */
.slide-img img {
  width: 50%;
  margin-bottom: 20px;
}

.design h2 {
  margin-top: 30px;
}

.slide-img .arrow_slide {
    font-size: 30px;
    color: grey;
}

.slide-img a:hover {
  color: #010E28;
}

@media all and (max-width:768px) {
  .slide-img a {
      display: none;
  }
}


/* SEZIONE FEATURES */

.features h2 {
  padding: 25px 0;
}



/* SEZIONE SERVICE CUSTOMER */
.service-customers , .get_started {
  background-image: linear-gradient(#0000e6, #000080);
  margin-top: 25px;
  padding: 25px 0;
}

.service-customers h2 , .get_started h2 {
  color: white;
}

.table {
  margin: 30px;
}

.table > tbody > .first-tr > td{
  border: none;
}

.service-customers tr td {
  color: white;
}

.service-customers tr td a {
  color: #00D7D2;
  padding-left: 200px;
}

/* SEZIONE TEAMS */

.rocker-img {
  display: inline-block;
  width: 50%;
  background-color: white;
  padding-bottom: 60px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.rocker-img img {
  margin: 50px;
}

.teams .arrow_slide {
vertical-align: middle;
}

.rocker-img p:first-of-type{
  font-size: 20px;
  color: grey;
}

.teams h2 {
  padding: 30px 0;
}

/* SEZIONE GET STARTED */

#create-ur-account {
  color: #0069FE;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin: 20px;
  transition: 0.3s;
}

#create-ur-account:hover {
  background-color: lightgrey;
}


/* Regole Footer */

footer {
  background-color: #010E28;
}

.footer-list a , footer p , .social-list a{
  color: #929CB2;
}

footer img {
  margin-top: 40px;
  margin-bottom: 10px;
}

footer h4 {
  color:white;
  margin-top: 40px;
}

.social-list li{
  display: inline-block;
}

.social-list a {
  padding: 0 5px;
  font-size: 20px;
}

.footer-list {
  list-style-type: none;
}

.footer-list li {
  margin: 10px 0;
}

.footer-list a {
  text-decoration: none;
}

.footer-list a:hover , .social-list a:hover{
  color: white;
}
